body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F6F6;
}

/*------------------- 
    head
-------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navBar {
    display: flex;
    align-items: center;
}

#news {
    background-color: #5D5FEF;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

#channel {
    color: #5D5FEF;
    margin-left: 10px;
}

.navLink {
    text-decoration: none;
    justify-content: center;
}

.navLink hr {
    width: 55%;
    margin-top: 0;
    color: #5D5FEF;
}

.navSelected {
    color: #5D5FEF;
    margin-bottom: 0px;

}



.navNotSelected {

    color: #A3A3A3;
    margin: auto;

}

#navBlog {
    margin: auto auto auto 25px;
}

header hr {
    width: 90%;
    color: #A3A3A3;
}


/* menu  */

#menu {
    width: 80%;
    display: flex;
    color: #858585;
    justify-content: space-between;
    margin: 20px auto 20px auto;
}

#menu button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #858585;
}


#numOfNewsSection {
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 10px 0px 10px 20px;
    display: flex;
    border-radius: 10px;

}

#newsDisplay {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}


#newsDisplayCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 5%;
}

#newsDisplayCard img {
    width: 20%;
}

#newsDisplayCardDetails {
    width: 75%;
    margin: auto;
}

#newsDisplayCardDetails h1 {
    margin-top: 0;
}

#newsDisplayCardDetails p {
    color: #A3A3A3;
}

#author {
    display: flex;
    width: 100%;
    align-items: center;
}

#authorInfo {
    display: flex;

    width: 34%;
}


#authorInfo img {
    width: 20%;
    height: max-content;
    border-radius: 50%;
    margin-right: 10px;
}

#views {
    display: flex;
    width: 33%;
    font-size: 20px;
    align-items: center;
}

#views p {
    color: black;
}

#modalButton {
    display: flex;
    width: 33%;
    justify-content: flex-end;
}

#modalButton button {
    font-size: 20px;
    background: #EEEFFF;
    color: #5D5FEF;
    border: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: white;
    margin-bottom: 0px;
}

footer h2 {
    margin: 0;
    color: #858585;
}